body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

section {
  margin: 0 16px;
}

section.full-screen {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 2px solid #222222;
}

nav > ul {
  margin-left: auto;
  margin-right: 16px;
}

nav > ul > li {
  display: inline-block;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: white;
  background-color: #222222;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  margin: 16px;
}

header p {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container figure {
  margin-left: auto;
}

.flex-container figure img {
  height: 400px;
}

.flex-container figcaption {
  text-align: center;
  margin-top: 16px;
}

.flex-container.row-reverse {
  flex-direction: row-reverse;
}

.flex-container.row-reverse p {
  margin-left: 32px;
}

.flex-container.row-reverse figure {
  margin-left: 40px;
  min-width: 320px;
}

#penguin-photos .grid-container {
  display: flex;
  gap: 16px;
}

#penguin-photos .grid-container div {
  width: 25%;
}

#penguin-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
